{% lare_extends '__base.html' 'lare' %}

{% block title %}settings-title{% endblock title %}

{% block page %}
    <div id="page">
        {% include '_menu.html' with menu_about=True %}
        <div id="content">settings-content
            <script type="text/javascript">
                if ($.support.lare) {
                    $.fn.lare.defaults['push'] = false;
                    $.fn.lare.defaults['replace'] = true;
                    $.fn.lare.defaults['scrollTo'] = 10;
                }
            </script>
        </div>
    </div>
{% endblock page %}

{% block lare_namespace %}lare.settings{% endblock lare_namespace %}
